.back-azul-claro {
    background-color: #EEF5FA !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.bg-pokedex {
    background-color: #2274A5;
}
.bg-footer {
    background-color:#011638 ;
}